@keyframes rainbow {
    0%{
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 25%;
    }
}

@keyframes bold {
    0% {
        transform: translate(-50%, 0) rotate(0deg);
    }
    25% {
        transform: translate(-50%, 0) rotate(10deg);
    }
    50% {
        transform: translate(-50%, 0) rotate(0);
    }
    75% {
        transform: translate(-50%, 0) rotate(-10deg);
    }
    100% {
        transform: translate(-50%, 0) rotate(0);
    }
}